input[type=text] {
	border: none;
	color: $dark-blue;
	font-family: $bodyFont;
	font-size: 14px;
	font-weight: $regular;
}

input[type=text]::placeholder {
	color: $dark-blue;
	font-family: $bodyFont;
	font-size: 14px;
	font-weight: $regular;
}
