html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $bodyFont;
}

p {
	color: $black;
	font-size: 14px;
	font-weight: $regular;
	line-height: 20px;
	max-width: 70%;
}

label {
	display: block;
	color: $weird-blue;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: $medium;
	text-transform: capitalize;
}
