// Fonts
$bodyFont: 'Montserrat', Tahoma, sans-serif;

// Colors
$plain-white: #ffffff;
$very-light-grey: #f4f4f4;
$in-between-blues: #96abbe;
$weird-blue: #505d6f;
$dark-blue: #4a6b8a;
$fucking-dark-blue: #041f37;
$romeo-purple: #8e44ad;
$mostly-black: #111111;
$black: #000000;

// Font weights
$regular: 400;
$meidum: 500;
$bold: 700;

// Others
$defaultShadow: 0 2px 4px 0 rgba(0,0,0,0.5);
