// Fonts
$bodyFont: 'Montserrat', Tahoma, sans-seriF;

// Colors
$plain-white: #FFFFFF;
$very-light-grey: #F4F4F4;
$in-between-blues: #96ABBE;
$weird-blue: #505D6F;
$dark-blue: #4A6B8A;
$Fucking-dark-blue: #041F37;
$romeo-purple: #8E44AD;
$mostly-black: #111111;
$black: #000000;

// Font weights
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

// Others
$defaultShadow: 0 2px 4px 0 rgba(0,0,0,0.5);
